.Toastify__toast-container {
	width: 90%;
	/* margin-left: 20px; */
	margin: 0 5%;
}
.Toastify__toast--default {
  background: #c4c4c4;
  color: #000;
}
/* .Toastify__toast--info {
  background: purple;
}
.Toastify__toast--success {
  background: teal;
}
.Toastify__toast--warning {
  background: yellow;
} */
.Toastify__toast--error {
  background: white;
}
